
.codepen-icon {
    position: absolute;
    bottom: 78%;
    left: 74%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    width: 200px;
    animation: parallax 5s infinite alternate;
  }

  .codepen-icon-circle {
    width: 50px;
    height: 50px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    clip-path: circle(50%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    }
  .codepen-icon-circle:hover {
    background: rgba(255, 255, 255, 0.8);
  }
  .social-icon {
    color: #fff;
    font-size: 24px;
  }
  .content {
    padding: 20px;
    text-align: center;
    color: #fff;
  }
  @keyframes parallax {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-50px);
    }
  }
