  .sky {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #001a33, #000022);
    overflow: hidden;
  }

  .stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

  .star {
    position: absolute;
    background: #fff;
    border-radius: 50%;
    opacity: 0;
    animation: twinkling 3s infinite, fade 3s infinite alternate;
  }

  @keyframes twinkling {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }

  @keyframes fade {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

