shippori-mincho-regular {
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color: #FBE9E7;
 }

.header {
    position: absolute;
    top: 47px;
    left: 150px;
    text-align: left;
    justify-content: space-between;
    align-items: center;
  }

.heading {
    font-size: 28px;
    margin-bottom: 30px;
    color: #fff;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
  }

.quote {
    font-size: 14px;
    margin: 0;
    text-align: justify;
    font-family: "Shippori Mincho", serif;
    font-weight: 400;
    font-style: normal;
    color: #FBE9E7
    
  } 
.quote-card {
    max-width: 800px;
    width: 150px;
    text-align: center;
    color: #fff;
    padding: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(12, 23, 44, 0.486);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
    z-index: 1;
}
